<div class="bar bar-header">
  <button class="button button-balanced light" ui-sref="account">返回我的账户</button>
  <h1 class="title">修改密码</h1>
</div>
<ion-content class=" has-header">
  <div class="list">
    <label class="item item-input">
      <input type="password" placeholder="请输入您目前的密码" ng-model = "password.oldPassword">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="请输入您要修改的密码" ng-model = "password.newPassword">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="请再次输入您要修改的密码" ng-model = "password.confirmedPassword">
    </label>
  </div>
  <div class="padding">
    <button class="button button-block button-positive" ng-click="changePassword();">修改</button>
  </div>
</ion-content>