<style>
  i{
    font-size: 1.5em;
  }
  .input-label{
    font-size: 14px;
  }

</style>
<div class="bar bar-header">
  <button class="button button-balanced light" ui-sref="account">返回我的账户</button>
  <h1 class="title">收货人</h1>
</div>
<ion-content class="has-header">
  <div class="list">
    <div class="item no-padding" ng-repeat="item in recieiverList">
      <div class="row">
        <div class="col col-10 col-center">
          <i class="ion-checkmark-round" ng-class="{true : 'balanced', false : 'stable'}[item.is_default === '1']" ng-click="setDefaultReceiver(item.id, item.is_default)"></i>
        </div>
        <div class="col">
          <h4 ng-bind="item.name"></h4>
          <p ng-bind="item.phone"></p>
        </div>
        <div class="col col-25 col-center right-align" ng-if="item.is_default !=='1'">
          <i class="ion-edit"  ng-click="editReceiver(item.name, item.phone, item.id)"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="ion-close-round" ng-click="removeReceiver(item.id)"></i>
        </div>
      </div>
    </div>
    
  </div>
  <div class="padding">
    <button class="button  button-block button-positive" ng-click="addReceiver()">增加收货人</button>
  </div>
</ion-content>