<ion-modal-view>
    <div class="card">
        <i class="icon ion-ios7-close close-modal light" ng-click="closeModal('rule')"></i>
            <ion-header-bar class="item item-divider calm-bg light">
              美菜网服务条款
            </ion-header-bar>
    </div>
    <ion-content >
        <div class="item item-text-wrap">
          <dl>
	<dt>一、美菜网服务条款的确认和接纳</dt>
	<dd>美菜网的各项电子服务运作权归美菜网。美菜网提供的服务将完全按照其发布的服务条款和操作规则严格执行。用户必须完全同意所有服务条款并完成注册程序，才能成为美菜网的正式用户。</dd>
	<dd>用户确认：
	本协议条款是处理双方权利义务的当然约定依据，除非违反国家强制性法律，否则始终有效。
	在下订单的同时，您也同时承认了您拥有购买这些产品和服务的权利能力和行为能力，
	并且将您对您在订单中提供的所有信息的真实性负责。</dd>
</dl>
<dl>
	<dt>二、服务简介</dt>
	<dd>
	 美菜网运用自己的操作系统通过国际互联网络为用户提供网络服务。同时，用户必须：<br>
	 (1)自行配备上网的所需设备，包括个人电脑、调制解调器或其它必备上网装置。<br>
	 (2)自行负担个人上网所支付的与此服务有关的电话费用、网络费用。
	</dd>
	<dd>
	 基于美菜网所提供的网络服务的重要性，用户应同意：<br>
	 (1)提供详尽、准确的商户资料。<br>
	 (2)不断更新注册资料，符合及时、详尽、准确的要求。
	</dd>
	<dd>
	 美菜网不公开用户的姓名、地址、电子邮箱，除以下情况外：<br>
	 (1)用户授权美菜网透露这些信息。<br>
	 (2)相应的法律及程序要求美菜网提供用户的个人资料。<br>
	 如果用户提供的资料包含有不正确的信息，美菜网保留结束用户使用网络服务资格的权利。
	</dd>
</dl>
<dl>
	<dt>三、送货及费用</dt>
	<dd>您在美菜网订购的所有产品由美菜网委托第三方物流机构或个人把产品送到您所指定的送货地址，相应的物流运输费用由您承担，该部分费用包含在美菜网的商品总价中无需您额外支付，金额为商品总价的7.5%，美菜网将此费用转交给承担物流运输的第三方机构或个人，并自行处理税负事项，美菜网不负责代扣代缴。</dd>
	<dd>
		请清楚准确地填写您的真实姓名、送货地址及联系方式。因如下情况造成订单延迟或无法配送等，美菜网将不承担责任：<br>(1)客户提供错误信息和不详细的地址；<br>(2)货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果；<br>(3)不可抗力，例如：自然灾害、交通管制、戒严、突发战争等。
	</dd>
</dl>
<dl>
	<dt>四、货款和结算</dt>
	<dd>美菜网将尽最大努力保证您所购商品与网站上公布的价格一致，但价目表和声明并不构成要约。</dd>
	<dd>美菜网有权在发现了其网站上显现的产品及订单的明显错误或缺货的情况下，单方面撤回任何承诺。同时，美菜网保留对产品订购的数量的限制权。 产品的价格和可获性都在美菜网上指明。这类信息将随时更改且不发任何通知。如果发生了意外情况，在确认了您的订单后，由于供应商提价，税额变化等引起的价格变化，或是由于网站的错误等造成商品价格变化，您有权取消您的订单，并希望您能及时通过电子邮件或电话通知美菜网客户服务部。 您所订购的商品，如果发生缺货，您有权取消定单。</dd>
	<dd>美菜网提供的是平台服务，所提供的商品采用是代买方式，即美菜网根据您的订单，按订单明细向第三方采购，美菜网所显示的商品价格包含5%的代买手续费，代买手续费为美菜收入。此费用已包含在商品的价格中，商户不需额外支付。但对蔬菜，美菜网有权适时作为商品销售方并无需通知您。</dd>
</dl>
<dl>
	<dt>五、服务条款的修改</dt>
	<dd>美菜网将可能不定期的修改本用户协议的有关条款，一旦条款及服务内容产生变动，美菜网将会在重要页面上提示修改内容。如果不同意美菜网对条款内容所做的修改，用户可以主动取消获得的网络服务。如果用户继续使用美菜网的服务，则视为接受服务条款的变动。美菜网保留随时修改或中断服务而不需告知用户的权利。美菜网行使修改或中断服务的权利，不需对用户或第三方负责。</dd>
</dl>
<dl>
	<dt>六、用户隐私制度</dt>
	<dd>尊重用户个人隐私是美菜网的一项基本政策。所以，作为对以上第二点人注册资料分析的补充，美菜网一定不会在未经合法用户授权时公开、编辑或透露其注册资料及保存在美菜网中的非公开内容，除非有法律许可要求或美菜网在诚信的基础上认为透露这些信件在以下四种情况是必要的：<br>(1)遵守有关法律规定，遵从美菜网合法服务程序。<br>(2)保持维护美菜网的商标所有权。<br>(3)在紧急情况下竭力维护用户个人和社会大众的隐私安全。<br>(4)符合其它相关的要求。</dd>
</dl>
        </div>
    </ion-content>
        
  </ion-modal-view>