<ion-modal-view>
    <div class="card">
        <i class="icon ion-ios7-close close-modal light" ng-click="closeModal('service')"></i>
            <ion-header-bar class="item item-divider calm-bg light">
                云杉美菜售后退换货制度
            </ion-header-bar>
    </div>
    <ion-content >
        <div class="item item-text-wrap">
                        为了您的利益，请收到货物后仔细清点检查您订购的商品。如商品配送有误、包装破损、产品变质和数量不对等问题，请当面及时向配送人员或客服中心提出，以便我们能尽快地为您处理。为保障您的权益，请仔细阅读以下内容:

                <dt>一、退换货品受理范围：</dt>
                <ol>
                        <li>请您在货品送达时认真核对收货确认单中货品（含赠品）的种类、数量和质量。如有质量、数量、品牌与下单不符以及货品（不含赠品）包装破损等问题的，您可以当场提出退换货要求；</li>
                        <li>生鲜类货品（蔬菜水果、鲜肉禽蛋、海鲜水产、冷藏或冻货、面点等）当场验货，我们可提供退换货的服务；</li>
                        <li>非生鲜类货品（米面粮油，调料干货，厨房用品等）自您签收货品后24小时内如发现有质量问题，我们可提供退换货的服务；</li>
                </ol>
                <dt>二、不在退换货业务受理范围的：</dt>
                <ol>
                        <li>生鲜类货品（蔬菜水果、鲜肉禽蛋、海鲜水产、冷藏或冻货、面点等）当场验收，签收后将不享受退换货服务；</li>
                        <li>非生鲜类货品（米面粮油，调料干货，厨房用品等）在您签收货品24小时后将不再享受退换货服务；</li>
                        <li>无论是否有质量或数量问题，已经开封或已使用部分或全部的货品，将不享受退换货服务；</li>
                        <li>由于您下错单造成的损失，原则上由您自行承担，将不享受退换货服务；</li>
                        <li>由于您个人原因或保管不当造成质量问题的商品，将不享受退换货服务；</li>
                </ol>
                <dt>三、退换货必要条件：</dt>
                退换货时，您必须出具：<br>
                <ol>
                        <li>问题货品（含赠品）；</li>
                        <li>收货确认单和相关票据(请妥善保存您的收货单据)；</li>
                        <li>问题货品相关问题细节足够清晰的照片；</li>
                        <li>问题货品相关完整的外包装袋或纸箱等；</li>
                </ol>


                <dt>四、退换货执行时限：</dt>
                产生退换货需求时，配送司机现场可处理的由司机直接处理，非现场由客服处理，并确定退换货日期及退款方式。<br>


                <dt>特别声明：</dt>
                <ol>
                        <li>为保障客户权益，请客户签收前与配送人员当面核对货品（含赠品）是否与订单一致，确认无误后再行签收；</li>
                        <li>如果您的订单交由他人签收，签收人享有与您等同的权利，我们将视为您本人签收。</li>
                        <li>生鲜类及非生鲜类货品均只在规定时间内受理退换货要求。若超过相关时限，我们将不再受理；</li>
                        <li>如因您一方人为或保管不当等原因造成质量问题的商品，不提供退换货服务；</li>
                        <li>退货需同时退回问题货品（含赠品）、收货确认单及发票（收据），请于购买货品后妥善保管问题货品（含赠品）、收货确认单及发票（收据）。如您无法提供相关材料，将可能导致无法进行退换货，因此而产生的后果，将由您自己承担；</li>
                        <li>对于货品数量不足、冗余或无货的情况，我们只受理当场提出的退换货要求，即货物送达后，收货人员当场清点货品数量，如有疑义，即时提出，一旦签收，我们将不再受理此类要求。</li>
                        <li>线上货品的图片及描述信息仅供参照，您收到的货品均以实物为准。因拍摄灯光及不同显示屏色差等问题，可能造成货品的图片与实物有一定色差，不属质量问题，不提供退换货服务。</li>
                        <li>通常情况下，一张订单只能进行一次退换货操作，所以为了确保您的权益，请您考虑周全后再与我们联系；</li>
                </ol>

                <p style="font-size:16px;">
                        <span style="color:red;">云杉美菜客服热线：400-106-1106</span>
                </p>
        </div>
    </ion-content>
        
  </ion-modal-view>